$colorGrey: #EFEFEF;
$colorGrey-mail: #C4C4C4;
$colorGrey-dark: #828282;
$colorDark: #333333;
$colorBlack: #000000;
$colorAccent: #F13C6E;
$colorWhite: #FFFFFF;
$colorPink: #F57699;
$colorPink-white: #F9ADC2;