@use './color' as vars;

%fontMain {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

%fontLogo {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3.5px;
    line-height: 39px;
    color: vars.$colorAccent;
}

%fontMenu {
    font-size: 16px;
    line-height: 19px;
    color: vars.$colorBlack;
    text-decoration: none;
}

%fontSubmenu {
    color: vars.$colorDark;
    text-decoration: none;
    line-height: 17px;
}

%heroTitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
}

%heroText {
    line-height: 20px;
}

%titleProduct {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: vars.$colorBlack;
}

%nameProduct {
    color: vars.$colorDark;
    line-height: 141%;
    text-align: center;
}

%priceProduct {
    font-size: 21px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 1.1px;
    color: vars.$colorBlack;
}