@use './color' as vars;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin alingCenter {
    display: flex;
    align-items: center;
}

@mixin justifyCenter {
    display: flex;
    justify-content: center;
}

@mixin displayColumn {
    flex-direction: column;
    justify-content: center;
}

@mixin headerLine {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 174px;
    background-color: vars.$colorGrey;
}

@mixin footerLine {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 70px;
    background-color: vars.$colorGrey;
}

@mixin borderLine {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 60px;
    background-color: vars.$colorGrey;
}